// This file may be used for providing additional customizations to the Trestle
// admin. It will be automatically included within all admin pages.
//
// For organizational purposes, you may wish to define your customizations
// within individual partials and `import` them here, e.g.
//
//    @import "trestle/custom/my_custom_css";
//
.app-sidebar-title {
    padding: 2px 15px !important;
}
.app-sidebar-header, .modal-header {
    background-color: #1565C0 !important;
}
.app-sidebar-header {
    background-image: none !important;
}
.app-header {
    display: none !important;
}