<div class="modal-content">
  <div class="modal-header bg-primary">
    <h5 class="modal-title text-white">Create new issue group</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <%= simple_form_for @issue_group do |f| %>
      <%= f.input :title, wrapper_html: { class: 's12' }, placeholder: "Type the name and hit enter", label: "Title", autofocus: true, required: true %>
    <% end %>
  </div>
</div>
