<div class="modal-content">
  <div class="modal-header bg-warning">
    <h5 class="modal-title">Current issue: <%= @issue.title %></h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <table class="table table-striped table-bordered" style="width:100%" id="link_client_dt">
      <thead>
        <tr>
          <th>IP</th>
          <th>Hostname</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% @clients.order(:ip).to_a.each do |current_client| %>
          <tr>
            <td><%= current_client.ip %></td>
            <td><%= current_client.hostname %></td>
            <td>
              <%= link_to issue_link_clients_path(@issue, current_client), remote: "true" do %>
                <button type="button" class="btn btn-warning"><i class="fas fa-link me-2"></i>Link client</button>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
