<div class="container pt-2">
    <div class="row">
        <div class="col s8">
            <ul class="collection issue-template-collection">
                <% @issues.each do |issue| %>
                    <li class="collection-item issue-template-collection-item">
                        <%= link_to edit_issue_template_path(issue_template), remote: true do %>
                        <i class="material-icons left <%= issue_template.color %>-text text-darken-2">bug_report</i><%= issue_template.title %>
                        <% end %>      
                        <%= link_to '<i class="material-icons red-text text-darken-3">delete_forever</i>'.html_safe, issue_template, method: :delete, :class => "secondary-content", data: { confirm: 'Are you sure?' } %>
                    </li>
                <% end %>   
            </ul> 
        </div>
    </div>    
</div>