<div class="row">
    <% @issue.screenshots.each do |screenshot| %>
        <div class="col s6">
            <%= image_tag url_for(screenshot.image), :class => "materialboxed pb-05", width: '100%' %>
            <span><%= screenshot.description %></span><br /><br />
        </div>
    <% end %>
</div>