<div class="row">
    <% @issue.screenshots.each do |screenshot| %>
        <div class="col-12 mb-5">
          <p class="lead"><%= screenshot.description %></p>
          <%= image_tag url_for(screenshot.image), :class => 'img-fluid' %>
        </div>
    <% end %>
</div>
