<%= simple_form_for :group, url: groups_path, remote: true do |f| %>
<div class="modal-content p-0">
  <div class="row green lighten-4 pt-3 pb-2">
    <div class="col s12 center">
        <h3 class="green-text text-darken-3">Create an empty group</h3>
    </div>
  </div>
  <div class="row padding-2">
    <div class="col s6">
      <%= f.input :name, :wrapper_html => { :class => "s12" } %>
    </div>
    <div class="col s6">
      <%= f.input :icon, placeholder: "fab fa-windows", :input_html => {:class => "iconpicker"}, :wrapper_html => { :class => "s12" } %>
    </div>
  </div>
</div>

<div class="modal-footer">
  <%= f.button :submit, 'Create', :class => 'modal-action green darken-2' %>
</div>
<% end %>

<script>
  $('.iconpicker').iconpicker();
</script>
