<%= simple_form_for :group, url: groups_path, remote: true do |f| %>
  <div class="modal-content">
    <div class="modal-header bg-success">
      <h5 class="modal-title text-white">Create an empty group</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-6">
          <%= f.input :name %>
        </div>
        <div class="col-6">
          <%= f.input :icon, placeholder: "Type to search ...", :input_html => {:class => "iconpicker"} %>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <%= f.button :submit, 'Create', :class => 'btn-success' %>
    </div>
  </div>
<% end %>
