<div class="modal-content">
  <div class="modal-header bg-primary">
    <h5 class="modal-title text-white">Scan selected clients</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <%= simple_form_for :scan, url: scans_create_path, remote: true, authenticity_token: true,  html: {multipart: true} do |f| %>
      <input id="scan_name" name="scan[name]" type="hidden" value="Custom scan">
      <label class="string required" for="command">Scan parameters <abbr title="required">*</abbr></label>
      <div class="input-group">
        <input type="text" id="command" name="scan[command]" class="form-control" placeholder="Use your own nmap fu ... ">
        <button class="btn btn-outline-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">or predefined parameters</button>
        <ul class="dropdown-menu dropdown-menu-end">
          <% SavedScan.all.to_a.each do | saved_scan | %>
            <li>
              <a class="dropdown-item" href="#" onclick="$('#command').val('<%= saved_scan.parameter %>');">
                <%= saved_scan.name %>
              </a>
            </li>
          <% end %>
        </ul>
      </div>
      <label class="string required" for="scan_target">Targets <abbr title="required">*</abbr></label>
      <div class="input-group">
        <input class="form-control string required" required="required" readonly aria-required="true" value="<%= clients.pluck(:ip).join(" ") %>" type="text" name="scan[target]" id="scan_target">
        <button type="submit" class="btn btn-primary"><i class="fas fa-coffee me-2"></i>Start new scan</button>
      </div>
    <% end %>
  </div>
</div>


