<div class="container-fluid mt-3">
  <div class="row">
    <div class="col-2" id="group_list">
      <%= render partial: "group_list" %>
    </div>
    <div class="col-5">
      <div id="group-placeholder">
        <div class="alert alert-primary" role="alert"><i class="fas fa-layer-group me-2"></i>Select a group or create a new one.</div>
      </div>
      <div class="selected-group"></div>
    </div>
    <div class="col-5 mb-5">
      <div id="hostview">
        <div class="alert alert-primary" role="alert"><i class="fas fa-desktop me-2"></i>Select a client to view the details.</div>
      </div>
    </div>
  </div>
</div>
<div class="site-action">
  <div class="btn-group dropup">
    <button type="button" class="btn btn-primary dropdown-toggle border border-white" data-bs-toggle="dropdown" id="actionDropdown" aria-expanded="false">
      <i class="fas fa-terminal me-2"></i>Site actions
    </button>
    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="actionDropdown">
      <li>
        <div class="grp_new dropdown-item pointer">
          <i class="fas fa-plus me-2"></i>Add new empty group
        </div>
      </li>
      <li>
        <div class="search_float dropdown-item pointer">
          <i class="fas fa-search me-2"></i>Global search
        </div>
      </li>
    </ul>
  </div>
</div>
<%= render :partial => 'index_js' %>
