<style>
  .top-margin {
    margin-top: 5em;
  }
</style>
<div class="container top-margin">
  <div class="row">
    <div class="col s3"></div>
    <div class="col s6">
        <ul class="collapsible">
            <li>
              <div class="collapsible-header"><i class="material-icons">keyboard_arrow_right</i>Minor Version 2.2</div>
              <div class="collapsible-body">
                  <ul>
                    <li>Restructure Code-Parts, update Materialize CSS, fix some issues</li>
                    <br />
                    <li>Add Images Page, like Shodan Images</li>
                    <br />
                    <li>Add sidekiq as job worker to improve tasks running in background mode</li>
                  </ul>
              </div>
            </li>
            <li>
              <div class="collapsible-header"><i class="material-icons">keyboard_arrow_right</i>Patch: 2.1.4</div>
              <div class="collapsible-body">
                  <ul>
                  <li>Rewritten the single group rendering. Only one group can be viewed in detail at the same time and on each click within the sidebar the target group will be rerendered.</li>
                  <br />
                  <li>Rewritten notification handling. All changes to any group will be pushed as notification to all connected clients. You can change to local only notications in the settings page.</li>
                  <br />
                  <li>Sidebar will be rerendered on all clients at any change to any group without notification. Also groups that changed an be visible to other clients will be get a blocked status and a refresh info for the client.</li>
                  <br />
                  <li>Fix: #8, #25, #24, #2, small typos, partial code cleaning</li>
                  </ul>
              </div>
            </li>
            <li>
              <div class="collapsible-header"><i class="material-icons">keyboard_arrow_right</i>Patch: 2.1.3</div>
              <div class="collapsible-body">
                  <ul>
                  <li>Feature: Scan from group view - You can now scan your selected targets directly in the group view</li>
                  <br />
                  <li>Fix: Port desciption overwrite - Ports scanned with -sC, -sV, etc. will be not overwritten by portscans without service detection</li>
                  </ul>
              </div>
            </li>
            <li>
              <div class="collapsible-header"><i class="material-icons">keyboard_arrow_right</i>Patch: 2.1.2</div>
              <div class="collapsible-body">
                  <ul>
                  <li>Enhancement: Add mono font - Plugin output will be displayed with fira code mono font</li>
                  <br />
                  <li>Enhancement: New scan templates - More nmap fu templates</li>
                  </ul>
              </div>
            </li>
            <li>
              <div class="collapsible-header"><i class="material-icons">keyboard_arrow_right</i>Minor Version: 2.1</div>
              <div class="collapsible-body">
                  <ul>
                  <li>Enhancement: Docker change - Redesign docker prod / dev environment &amp; structure</li>
                  </ul>
              </div>
            </li>
            <li>
              <div class="collapsible-header"><i class="material-icons">keyboard_arrow_right</i>Major Version: 2.0</div>
              <div class="collapsible-body">
                  <ul>
                  <li>Enhancement: Move to material design - Change complete app to materialize css framework</li>
                  <br />
                  <li>Enhancement: Code update - The whole backend and database code was rewritten</li>
                  </ul>
              </div>
            </li>
        </ul>
      </div>
    </div>
    <div class="col s3"></div>
  </div>
</div>