@import "materialize/components/color-variables";
@import "*";
@import "materialize";
@import "material_icons";
@import "simple-iconpicker.min";
@import "font-awesome";
@import "jquery-ui";
@font-face {
    font-family: 'Fira Mono';
    src:font-url('FiraMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: monospace;
}