//@import "datatables/jquery.dataTables";
//@import "datatables/extensions/AutoFill/autoFill.dataTables";
//@import "datatables/extensions/Buttons/buttons.dataTables";
//@import "datatables/extensions/ColReorder/colReorder.dataTables";
//@import "datatables/extensions/FixedColumns/fixedColumns.dataTables";
//@import "datatables/extensions/FixedHeader/fixedHeader.dataTables";
//@import "datatables/extensions/KeyTable/keyTable.dataTables";
//@import "datatables/extensions/Responsive/responsive.dataTables";
//@import "datatables/extensions/RowReorder/rowReorder.dataTables";
//@import "datatables/extensions/Scroller/scroller.dataTables";
//@import "datatables/extensions/Select/select.dataTables";





div.material-table {
    padding: 0;
  }
  
  div.material-table .hiddensearch {
    padding: 0 14px 0 24px;
    border-bottom: solid 1px #DDDDDD;
  }
  
  div.material-table .hiddensearch input {
    margin: 0;
    border: transparent 0 !important;
    height: 48px;
    color: rgba(0, 0, 0, .84);
  }
  
  div.material-table .hiddensearch input:active {
    border: transparent 0 !important;
  }
  
  div.material-table table {
    table-layout: fixed;
  }
  
  div.material-table .table-header {
    height: 64px;
    padding-left: 24px;
    padding-right: 14px;
    align-items: center;
    display: flex;
    border-bottom: solid 1px #DDDDDD;
  }
  
  div.material-table .table-header .actions {
    display: -webkit-flex;
    margin-left: auto;
  }
  
  div.material-table .table-header .btn-flat {
      min-width: 36px;
      padding: 0 8px;
  }
  
  div.material-table .table-header input {
    margin: 0;
    height: auto;
  }
  
  div.material-table .table-header i {
    color: rgba(0, 0, 0, 0.54);
    font-size: 24px;
  }
  
  div.material-table .table-footer {
    height: 56px;
    padding-left: 24px;
    padding-right: 14px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    font-size: 12px !important;
    color: rgba(0, 0, 0, 0.54);
  }
  
  div.material-table .table-footer .dataTables_length {
    display: -webkit-flex;
    display: flex;
  }
  
  // fix for select in datatable with materialize 1.0
  div.material-table .table-footer .dataTables_length select {
    width: unset !important;
    height: unset !important;
    border: none !important;
  }

  div.material-table .table-footer label {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.54);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  div.material-table .table-footer .dataTables_info,
  div.material-table .table-footer .dataTables_length {
    margin-right: 32px;
  }
  
  div.material-table .table-footer .material-pagination {
    display: flex;
    margin: 0;
  }
  
  div.material-table .table-footer .material-pagination li:first-child {
    margin-right: 24px;
  }
  
  div.material-table .table-footer .material-pagination li a {
    color: rgba(0, 0, 0, 0.54);
  }
  
  div.material-table .table-footer .select-wrapper input.select-dropdown {
    margin: 0;
    border-bottom: none;
    height: auto;
    line-height: normal;
    font-size: 12px;
    width: 40px;
    color: rgba(0, 0, 0, 0.54);
  }
  
  div.material-table .table-title {
    font-size: 20px;
    color: #000;
  }
  
  div.material-table table tr td {
    padding: 1rem;
    height: 48px;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.87);
    border-bottom: solid 1px #DDDDDD;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  div.material-table table tr td a {
    color: inherit;
  }
  
  /*
  div.material-table table tr td a i {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.54);
  }
  */
  
  div.material-table table tr {
    font-size: 12px;
  }
  
  div.material-table table th {
    font-size: 12px;
    font-weight: 500;
    color: #757575;
    cursor: pointer;
    white-space: nowrap;
    padding: 0;
    height: 56px;
    padding: 1rem;
    vertical-align: middle;
    outline: none !important;
  }
  
  div.material-table table th.sorting_asc,
  div.material-table table th.sorting_desc {
    color: rgba(0, 0, 0, 0.87);
  }
  
  div.material-table table th.sorting:after,
  div.material-table table th.sorting_asc:after,
  div.material-table table th.sorting_desc:after {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    word-wrap: normal;
    content: "arrow_upward";
    display: none;
    vertical-align: middle;
  }
  
  div.material-table table th.sorting:hover:after,
  div.material-table table th.sorting_asc:after,
  div.material-table table th.sorting_desc:after {
    display: inline-block;
  }
  
  div.material-table table th.sorting_desc:after {
    content: "arrow_downward";
  }
  
  div.material-table table tbody tr:hover {
    background-color: #EEE;
  }
  
  div.material-table table th:first-child,
  div.material-table table td:first-child {
    padding: 0 0 0 24px;
  }
  
  div.material-table table th:last-child,
  div.material-table table td:last-child {
    padding: 0 14px 0 0;
  }
  
  .dataTables_empty {
    text-align: center;
  }
  