.vh-center-wrapper {
  height: 100vh;
  .vh-center {
    width: 100vw;
    max-width: 500px;
    padding: 15px;
    margin: auto;
  }
}
.navbar {
  max-height: 70px;
  .nav-item.active {
    background-color: #125096;
  }
}
