.vh-center-wrapper {
  height: 100vh;
  .vh-center {
    width: 100vw;
    max-width: 500px;
    padding: 15px;
    margin: auto;
  }
}
.navbar {
  max-height: 70px;
  .nav-item.active {
    background-color: #125096;
  }
}
.site-action {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
.toast-info {
  background-color: $primary !important;
}
label {
  margin-bottom: 5px !important;
}
.input-group, .form-group {
  margin-bottom: 1rem !important;
}
.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}
.text-critical {
  color: $purple;
}
.list-group-item-action:focus, .list-group-item-action-active {
  background-color:#e8eaed;
}
.list-group-item-action.active:focus {
  background-color: $primary;
}
.ui-selected{
  background: #edf4fd;
}
.ui-selecting{
  background: #edf4fd;
}
.dt-init > :not(:last-child) > :last-child > * {
  border-bottom-color: #c9ced4;
}
#toast-container{
  // needed for removing default behavior of toastr gem
  top: unset !important;
  right: unset !important;
  left: 25px !important;
  bottom: 20px !important;
}
.iconpicker .iconpicker-item {
  .fa, .fas, .far, .fal, .fad, .fab {
    font-size: 24px !important;
  }
  width: 30px !important;
  height: 30px !important;
}
.iconpicker-popover.popover {
  width: 22em !important;
}
.preloader-svg {
  width: 6em;
}
.methodology-modal-body {
  p {
    margin-top: 0.5rem !important;
    margin-bottom: 0.2rem !important;
  }
  code {
    display: block;
    white-space: pre-wrap;
  }
}
