.vh-center-wrapper {
  height: 100vh;
  .vh-center {
    width: 100vw;
    max-width: 500px;
    padding: 15px;
    margin: auto;
  }
}
.navbar {
  max-height: 70px;
  .nav-item.active {
    background-color: #125096;
  }
}
.site-action {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
.toast-container {
  //position: fixed;
  //top: 60px;
  //right: 20px;
}
label {
  margin-bottom: 5px !important;
}
.input-group, .form-group {
  margin-bottom: 1rem !important;
}
.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}
.text-critical {
  color: $purple;
}
.list-group-item-action:focus, .list-group-item-action-active {
  background-color:#e8eaed;
}
.list-group-item-action.active:focus {
  background-color: $primary;
}
