// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$primary-color: color("blue", "darken-3") !default;
$secondary-color: color("blue", "darken-2") !default;

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}
.svg_logo {
  width: 170px;
}
nav .brand-logo {
  height: 100%;
}
/* full screen layout overwrite */
.container {
  width: 95% !important;
  max-width: none !important;
}
#main-container {
  width: 100% !important;
}
html, body {
  max-width: 100%;
  overflow-x: hidden;
  min-height: 600px;
}
#generic-modal {
  width: 30% !important;
}
#modal-header {
  margin-bottom: 40px;
}
.tabs .tab {
  text-transform: none !important;
}
.btn-large {
  text-transform: none !important;
}
.custom-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card {
  box-shadow: none !important;
}
.preloader-background {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eee;

  position: fixed;
  z-index: 100;
  top: 66px;
  left: 0;
  right: 0;
  bottom: 0;
}
.mono {
  font-family: 'Fira Mono';
}
.collapsible li.active i.rotate{
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
  transform: rotate(90deg);
}