.images-page {
    .checkbox-toogle {
        padding-top: 10px;
    }
    .placeholder {
        margin: 4em;
        border: 4px dashed #cce6ff;
        border-radius: 5px;
        cursor: pointer;
     
        p {
            font-size: 1.8em;
        }
        i {
            font-size: 4em;
            margin: 0.5em;
        }
    }
    .images-row {
        margin-left: auto !important;
        margin-right: auto !important;
        margin-bottom: 0px !important;
        .images-meta {
            position: relative;
            bottom: 55px;
            .chip {
                opacity: 0.8;
            }
        }
    }
    .images-container {
        padding-top: 10px;
        margin-top: 0.5rem;
        padding-right: 10px;
        overflow-y: auto;
        position: fixed;
        max-height: calc(100vh - 140px);
        min-height: calc(100vh - 64px);
    }
}