// Place all the styles related to the IssueTemplates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.issue_templates {
    .search-field {
        padding: 1em;
    }
    
    #issue_container {
        padding-top: 1em;
    }
    .setting-row {
        padding-top: 1em;
    }
    .editor-toolbar {
        margin-top: 20px !important;
    }

    .collection {
        border: none !important;
    }
    .collection.with-header .collection-header {
        background-color: transparent !important;
    }
    .collection .collection-item {
        background-color: transparent;
        border-bottom: unset !important;
    }
    .issue-template-collection-item:hover {
        background-color: #eeeeee !important;

    }
    .issue-template-collection {
        overflow-y: auto;
        max-height: 73vh;
    }
}
