// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "materialize/components/color";
$primary-color: color("blue", "darken-3") !default;
$secondary-color: color("blue", "darken-2") !default;
@import 'materialize';
@import "font-awesome";
@font-face {
    font-family: 'Fira Mono';
    src:font-url('FiraMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: monospace;
}