<div id="screenshot-change-modal-content">
    <div class="container pt-2">
        <div class="row">
            <div class="col s6">
                <%= image_tag url_for(@screenshot.image), :class => "materialboxed tooltipped pb-05", width: '100%' %>
            </div>
            <div class="col s6">
                <%= simple_form_for @screenshot, remote: true do |f| %>
                    <%= f.input :description, wrapper_html: { class: 's12' } %>
                    <div class="col s12 input-field">
                        <button type="submit" class="btn left blue darken-2"> <i class="material-icons left">cached</i>Update</button>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>



