<% @issue_templates.each do |issue| %>
    <li class="collection-item issue-template-collection-item">
        <%= link_to edit_issue_template_path(issue), remote: true do %>
            <i class="material-icons left <%= issue.color %>-text text-darken-2">bug_report</i><%= issue.title %>
        <% end %>      
        <%= link_to '<i class="material-icons red-text text-darken-3">delete_forever</i>'.html_safe, issue, method: :delete, :class => "secondary-content", data: { confirm: 'Are you sure?' } %>    </li>
<% end %>