<div class="images-container">
    <div class="row">
        <div class="col s2" id="group_list">
        <%= render partial: "groups/group_list" %>
        </div>
        <div class="col s10 offset-s2 center">
            <!-- if no images available show placeholder -->
            <% unless @images.count > 0 %>
                <div class="placeholder tooltipped modal-trigger" href="#scan-interface" data-position="top" data-tooltip="Start a new scan to get some fancy images">
                    <i class="material-icons blue-text text-lighten-4">add</i>
                </div>  
            <% else %>
                <div class="row images-row">
                    <% @images.each do | image | %>
                        <div class="col s3">
                            <%= image_tag url_for(image), :class => "materialboxed", width: '100%' %>
                            <div class="images-meta">
                                <div class="chip white grey-text text-darken-4"><%= "#{image.record.client.ip} | #{ image.record.number}" %></div>
                            </div>
                        </div>
                    <% end %>                
                </div>

                
            <% end %>
        </div>
    </div>
</div>

<!-- floating button -->
<div class="fixed-action-btn">
    <a class="btn-floating btn-large blue darken-3 tooltipped modal-trigger" href="#scan-interface" data-position="left" data-tooltip="Open Scan-Interface">
        <i class="material-icons">add</i>
    </a>
</div>

<!-- modal scan-interface -->
<div id="scan-interface" class="modal modal-fixed-footer">

</div>