<% if @message %>
  <%
    if defined?(@type).nil?
      classes = 'dark'
    else
      case @type
        when  'alert'
          classes = 'danger'
        when 'notice'
          classes = 'dark'
        when 'success'
          classes = 'success'
        else
          classes = 'dark'
      end
    end
  %>
  <div class="toast-container">
    <div class="toast d-flex align-items-center bg-<%= classes %> text-white" role="alert" aria-live="assertive" data-delay="3000" id="general-notification" aria-atomic="true">
      <div class="toast-body">
        <%= @message %>
      </div>
      <button type="button" class="btn-close ms-auto me-2" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
  </div>
<% end %>
