<% if @message %>
  <%
    if defined?(@type).nil?
      classes = 'dark'
    else
      case @type
        when  'alert'
          classes = 'danger'
        when 'notice'
          classes = 'dark'
        when 'success'
          classes = 'success'
        else
          classes = 'dark'
      end
    end
  %>
  <div class="toast-container" style="position: absolute; top: 60px; right: 20px;">
    <div class="toast d-flex align-items-center bg-<%= classes %> text-white" role="alert" aria-live="assertive" data-delay="3000" aria-atomic="true">
      <div class="toast-body">
        <%= @message %>
      </div>
      <button type="button" class="close ml-auto mr-2 text-white" data-dismiss="toast" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
  </div>
<% end %>
